<div class="jumbotron">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1 class="media-heading">Cornell CS 6210</h1>
      <h2>Matrix Computations</h2>
    </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <hr/>
    <div class="col-xs-5 col-sm-6 col-md-6 col-lg-6">
      <p>
        Lecture: MWF 11:10-12:05<br/>
        Location: Hollister 306<br/>
        Course material: <a href="https://www.github.com/dbindel/cs6210-f19/">GitHub</a>
      </p>
    </div>
    <div class="col-xs-7 col-sm-6 col-md-6 col-lg-6">    
      <p>
        Prof: <a href="http://www.cs.cornell.edu/~bindel">David Bindel</a><br/>
        Email: <a href="mailto:bindel@cs.cornell.edu">bindel@cs.cornell.edu</a><br/>
        Office hours: 425 Gates Hall, W 1:30-2:30, F 10-11.
      </p>
    </div>
    </div>
  </div>
</div>
